<!DOCTYPE html>
<html>
<head>
    <title>Mapa de Chuvas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Mapa de Chuvas</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            
            $.getJSON('/postos', function(data) {
            
                var map = L.map('map').setView([-23.5505, -46.6333], 10);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);

                data.forEach(function(posto) {
                    L.marker([posto.latitude, posto.longitude]).addTo(map)
                        .bindPopup(posto.nome);
                });
            });
        });
    </script>
</body>
</html>
